.hamburger-menu {
    padding-left: 1.25em;
    position: relative;
    height: 19px;
    margin-right: 9px;
    display: none;
}

.hamburger-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.21em;
    bottom: 0.21em;
    width: 1em;
    background: linear-gradient(
            to bottom,
            black, black 20%,
            white 20%, white 40%,
            black 40%, black 60%,
            white 60%, white 80%,
            black 80%, black 100%
    );
}

@media (max-width: 80rem) {
    .min-w-site {
        min-width: auto;
    }

    .content {
        min-width: auto;
        width: 100%;
        max-width: none;
    }
}

@media (max-width: 992px) {
    /* Sidebar */
    .w-sidebar {
        position: absolute;
        z-index: 1000;
        margin-top: 3.75rem;
    }

    .w-sidebar.pt-header {
        padding-top: 1.75rem;
    }

    .sidebar-hidden {
        display: none;
    }

    /* Header */
    .hamburger-menu {
        display: block;
        margin-right: 1rem;
    }

    .bg-logo {
        display: none;
    }

    .h-header .dropdown-trigger {
        margin-right: -20px;
    }

    .h-header .dropdown-trigger span, .h-header .dropdown-trigger svg {
        display: none;
    }

    .h-header .dropdown-trigger img.mr-3 {
        margin-right: 0;
    }

    span.hamburger-menu + a {
        display: none;
    }

    .h-header .pl-search {
        width: 85%;
    }

    /* Content */
    .content .px-view {
        padding-left: 1.125rem;
        padding-right: 1.125rem;
    }

    .content .py-view {
        padding-top: 1.125rem;
        padding-bottom: 1.125rem;
    }

    .content div[dusk='users-index-component'] .pl-search {
        width: auto;
    }

    /* Forms */
    form .w-1\/2 {
        width: 80%;
    }

    form .w-1\/2 > div.flex {
        display: block;
    }

    form > .flex {
        display: block;
    }

    form > .flex > button {
        margin-bottom: 10px;
    }

    /* Cards */
    .content .flex-wrap > .w-1\/3, .content .flex-wrap > .w-2\/3 {
        width: 100%;
    }

    .content .card table td.w-1\/2 {
        display: table-row;
    }

    /* Other */
    .btn {
        white-space: nowrap;
    }

    .flex.justify-between span .btn[dusk='create-button'] {
        font-weight: bolder;
        font-size: 26px;
        padding: 0 12px;
        width: 39px;
        overflow: hidden;
    }

    .flex.justify-between span .btn[dusk='create-button']::before {
        content: "+";
        position: relative;
        margin-right: 20px;
    }

    .modal form {
        width: 100% !important;
    }

    select[dusk=action-select] {
        margin-left: -1rem;
    }

    div[dusk=filter-selector] {
        margin-left: -0.3rem;
    }

    div[dusk=delete-menu] > div {
        margin-left: 0.4rem;
    }
}

@media (max-width: 500px) {
    select[dusk=action-select] {
        width: 5.6rem;
    }
}